# MATLAB specific files
*.asv
*.m~
*.mex*
*.mat
*.mlappinstall
*.mlpkginstall
*.p
*.slx
*.mdl
*.slxc
*.slxp
*.autosave

# Backup and temporary files
.DS_Store
Thumbs.db
*.log

# MATLAB specific folders
slprj/
_simulink_cache/
*.mlproj

# General IDE files
*.bak
*.swp
*.tmp
*.~lock.*
